#header {
	border: 1px solid #b5b7ba;
	background-color: #dfdfdf;
	text-align: center;
	padding-top: 18px;
	height: 50px;
	min=width: 720px;
}

#lel {
	
}

#lil {
	text-align: center;
	text-decoration: unset;
}

#fff {
	font-size: 150px;
}