body {
	font-size: 22px;
	color: #000000;
	font-weight: bold;
	background-color: #db4343;
	background-image: url(maky.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: consolas;
}

header {
	text-align: center;
	margin-bottom: 26px;
	background-color: rgba(182, 35, 10, 0.753);
	color: white;
	border-radius: 0 0 10px 10px;
	padding: 12px;
	border-bottom-width: 10px;
	border-bottom-style: solid;
	border-bottom-color: #700;
}

p {
	background-color:;
}
/*---------------------------------------*/

a:link{
	color: blue;
	text-decoration: underline;
}

a:hover{
	background-color: #ff8787;
	color: red;
	text-decoration: underline;
	font-size: 25px;
}

a:visited{
	color: black;
}

a:active{
	font-size: 20px;
}

p:first-letter{
	font-weight: bold;
	font-size: 19px;
	color: red;
}
/*---------------------------------------*/